a{
    display: block;
    color:black;
}
a:hover,a :active{
    background-color:lightsteelblue;
}
.img1{
    position: relative;
    bottom: 30px;
}
.all{
    display: flex;
    height: 30px;
    text-align: center;
    bottom: 20%;
    position: fixed;
    top: 5px;
    width: 100%;
}
.img1{
    height: 500px;
    width: 1000px;
}
.img2{
    height: 500px;  
    width: 500px;
}
.img3{
    height: 600px;
    width: 600px;
}
.frist{
    margin-right: 5px;
    position: relative;
    left: 1%;
    font-size: 13px;
}

.about{
    margin-right: 5px;
    position: relative;
    left: 58%;
    font-size: 13px;
}
.menu{
    margin-right: 5px;
    position: relative;
    left: 61%;
    font-size: 13px;
}
.contact{
    margin-right: 5px;
    position: relative;
    left: 63%;
    font-size: 13px;
}
.heading{
  position: absolute;
  bottom: 5px;
  left: 16px;
  color: lightslategray;
  font-size: 27px;
  font-family: "Playfair Display";
  letter-spacing: 5px;
  
}

.h1{
    margin-left: 600;
    margin-top: 20;
    
}